@model List<AayushMandavya.Models.book>
@{
    ViewBag.Title = "mainview2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<style>
    table, td, th {
        background-color: aquamarine;
    }
</style>
<h2>Book Table</h2>

<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@(data.id)</td>
            <td>@(data.name)</td>
            <td>@(data.author)</td>
            
            
        </tr>
    }
</table>

<a href="@Url.Action("create2")">Add New Record</a>


